<div *ngIf="_http.detail" 
     class="container main-container animated fadeIn fast">
  <h1>
    {{ _http.detail.name }}
  </h1>
  <div class="row">
    <div class="col-md-5">
      <img class="img-thumbnail img-fluid" [src]="_http.detail.image" [alt]="_http.detail.name">
    </div>
    <div class="col-md-7">  
      <h3> Descripción: </h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci modi quos amet harum commodi at obcaecati minus deleniti necessitatibus distinctio doloribus ratione quod qui, omnis, dolor possimus, quo dolore explicabo?
      </p>
      <h5>species:</h5>
      <p>
        {{ _http.detail.species }}
      </p>
      <h5>
        gender:
      </h5>
      <p>
        {{ _http.detail.gender }}
      </p>
    </div>
  </div>

</div>