<div class="container main-container" *ngIf="!loading; else elseblock">

<div class="card-columns animated fadeIn slow">
      <div class="" *ngFor="let character of characters">
        <app-cards [characters]="character" >
    
        </app-cards>
      </div>
</div>

  <button class="float-right btn btn-success" [routerLink]="['/characters']" > Ver Mas. </button>

</div>
<ng-template #elseblock>
    <app-loader></app-loader>
</ng-template>