<div class="container mt-4" style="clear:both; display:table;">
    <div class="row m-3">
        <div class="col-md-4 mt-3" *ngFor="let character of svc.characters">
            <app-cards [characters]="character" >
    
            </app-cards>
        </div>
    </div>
</div>

<app-scroll> </app-scroll>
